<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Document</title>
    <style>
      img{
        width: 95vw;
        border-radius: 15px;
        margin: 2rem;
      }
      .container{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .c{
        margin-left: 2.5rem;
        margin-top: 2rem;
      }
    </style>
</head>
<body>

    <div class="bookp">
      <div class="c">

        <h2>(Entire floor) The Haveli,A Hom Stay C scheme</h2>
        <div class="review"> <h5> <span>4.60</span> <span> 127 reviews</span> <span>Jaipur,Rajasthan,India</span></h5></div>
      </div>

        <div class="img">
            <img src="https://imgs.search.brave.com/Q3NxSfbCeJBbX0TMmnMstGljLqskR1DPV-SEYnKXClw/rs:fit:829:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC56/a1AzNk9CWEhDSG5Z/cmlTU3EySFRRSGFF/UCZwaWQ9QXBp" alt="image">
        </div>
       

        <div class="container text-center">
            <div class="row">
              <div class="col">
                <div><h2>Enite home hosted by The Haveli</h2>
                    <p>16+ guests. 4 bedrooms. 4 beds .4.5 bathrooms</p>
                </div>
                <hr>

                <div class="Facilities"><h3> <i class="bi bi-lamp"></i> Dedicated workspace</h3>
                <p>A common area with wifi that's well suited for working.</p></div>

                <div class="Facilities"><h3> <i class="bi bi-door-open"></i>Self check-in</h3>
                <p>You can check in with the doorperson.</p></div>
              </div>
              <div class="col">
                <div class="card" style="width: 40rem; ">
                  <b style="color:cadetblue; font-size: 2.5rem; margin-top:1rem; ">
                    Book Now
                  </b>
                  <div class="card-body">
                      <form action="/cnfbooking">
                        Guests:&nbsp;<input type="text" name="guest" ><br>
                        Rooms:&nbsp;<input type="number" name="rooms" style="margin-top: .8rem;" ><br>
                        <div id="D" style="margin-top: .8rem;">
                          From:&nbsp;<input type="date" name="From"  style="margin-right:2rem;" > 
                          To:&nbsp;<input type="date" name="To" > <br>
                          <a href="/cnfbooking">

                            <button type="submit" style="margin-top: 2rem; font-size: 1.5rem; font-weight: bold; border: none; color: white; border-radius: 15px; background-color: rgb(140, 182, 184); padding: .5rem 3rem;">Book</button>
                          </a>
                        </div>
                      </form>
                    </div>
                  </div>
              </div>
            </div>
            </div>
            </div>
    </div>
    
</body>
</html>