<div class="navbars">
    <a href="/">
    <img class="navbar-logo" src="/img/long-logo.png" alt="logo"></a>
    <div class="search">
        <div class="search-text">Anywhere</div>
        <div class="search-text">Any week</div>
        <div class="search-text2">Add Guests</div>
        <div class="search-icon"><i class="bi bi-search"></i></div>
    </div>
    <div class="profile">
        <div class="home">Airbnb your home</div>
        <div class="home"><i class="bi bi-globe"></i> </div>
        
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-list"></i> <i class="bi bi-person-circle"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item active" href="/register">Sign up</a></li>
              
              <li><a class="dropdown-item" href="/login">Log in</a></li>
              <li><a class="dropdown-item" href="/multiplepost">Host</a></li>

              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/testimg">Airbnb your home</a></li>
             
              <li><a class="dropdown-item" href="#">Host an experience</a></li>
              <li><a class="dropdown-item" href="#">Help</a></li>
            </ul>
          </div>

    </div>
    </div>